<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springbootmybatis.mapper.departmentMapper">
    <select id="queryDepartmentList" resultType="Department">
        select *from department
    </select>

    <select id="queryDepartmentById" resultType="Department">
        select *from department where de_id=#{de_id}
    </select>
</mapper>